.searchResultCard {
  width: 100%;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }

  .cardContainer {
    background-color: #181818;
    transition: background-color 0.2s;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .imageContainer {
      width: 92px;
      height: 92px;
      margin-bottom: 20px;
    }

    .name {
      font-size: 2rem;
      font-weight: 700;
      color: white;
      line-height: 1;
      margin-bottom: 8px;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }

    .additionalInfo {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 0.875rem;
      color: white;

      .ownerForPlaylist {
        color: #a7a7a7;
      }

      .ownerForTrack {
        display: flex;
        align-items: center;
        gap: 4px;

        .explicit {
          border-radius: 2px;
          background-color: hsla(0,0%,100%,.6);
          font-size: 9px;
          height: 16px;
          width: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #121212;
        }
      }

      .type {
        text-transform: capitalize;
        font-weight: 700;
        border-radius: 9999px;
        background-color: rgba(0,0,0,.2);
        padding: 4px 12px;
      }
    }

    .buttonContainer {
      position: absolute;
      bottom: 20px;
      right: 20px;
      opacity: 0;
      transform: translateY(15%);
      transition: 0.3s ease;
      --play-button-size: 48px;
      --play-button-icon-size: 24px;
    }

    &:hover {
      background-color: #282828;

      .buttonContainer {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
