.discographyListItemHeader {
  display: flex;
  margin: 32px 0;

  .imageContainer {
    width: 136px;
    height: 136px;
    margin-right: 24px;
    background-color: #333;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .name {
      font-size: 2rem;
      font-weight: 700;
      color: white;
      margin-bottom: 8px;

      &:hover {
        text-decoration: underline;
      }
    }

    .moreInfo {
      font-size: 0.875rem;
      color: #b3b3b3;
      margin-bottom: 8px;
    }

    .albumActions {
      --play-button-size: 32px;
      --play-button-icon-size: 20px;
      --play-button-color: white;
      --play-button-highlight-color: white;

      margin-top: auto;
      display: flex;
      gap: 16px;
      align-items: center;

      .likeButton {
        width: 24px;
        height: 24px;
        fill: #a7a7a7;
        cursor: pointer;

        &:hover {
          fill: white;
          transform: scale(1.03);
        }
      }
    }
  }
}
