.artistContextMenu {
  button {
    font-size: 0;
    padding: 0;

    svg {
      width: 24px;
      height: 24px;
      fill: #a7a7a7;
    }

    &:hover {
      svg {
        fill: white;
      }
    }
  }
}
