.trackArtistTopTracks {
  .title {
    font-size: 1.5rem;
    color: white;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .subtitle {
    font-size: 0.875rem;
    color: #b3b3b3;
  }
}
