.sidebarList {
  min-height: 0;
  overflow: hidden;
  flex-grow: 1;

  & > div {
    height: 100%;
  }

  .scrollContent {
    padding: 0 8px 8px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
