.sidebarNav {
  width: 100%;
  height: 112px;
  background-color: #121212;
  border-radius: 8px;
  padding: 8px 12px;

  img {
    width: 24px;
    height: 24px;

    &.active {
      color: red;
    }
  }

  ul {
    li {
      a {
        display: flex;
        align-items: center;
        padding: 4px 12px;
        gap: 20px;
        height: 48px;
        color: #b3b3b3;
        font-weight: 700;
        transition: color 0.3s;

        .icon {
          fill: #b3b3b3;
          font-size: 0;

          .filled {
            display: none;
            fill: white;
          }
        }

        &.active {
          color: white;

          .icon {
            .hollow {
              display: none;
            }

            .filled {
              display: block;
            }
          }
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}
