.appHeader {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    opacity: 0;

    &.colored {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
