.sidebarViewTypeContextMenu {
  margin-left: auto;

  button {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: hsla(0,0%,100%,.7);
    font-size: 0.875rem;
    font-weight: 400;

    svg {
      fill: hsla(0,0%,100%,.7);
      width: 16px;
      height: 16px;
    }
  }
}
