.searchKeyword {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .topGridContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 24px;
    row-gap: 32px;

    .topResultContainer {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .tracksContainer {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
}
